:root {
    --primary-bg-color: #f9fbfd;
    --card-bg-color: #ffffff;
    --primary-color: hsl(206, 17%, 28%);
    --secondary-color: hsl(360, 91%, 36%);
    --accent-color: #e7e9eb;
    --btn-font-size: 1rem;
    --btn-padding: 10px 25px;
    --border-radius: 5px;
    --box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

}

/* Dark Mode Styles */
.dark-mode {
    --primary-bg-color: #121212;
    --card-bg-color: #1e1e1e;
    --primary-color: #ffffff;
    --secondary-color: hsl(360, 91%, 50%);
    --accent-color: #3c3c3c;

}

.dark-mode .btn:hover {
    background-color: #f0ad4e;

    color: #000;
}



*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 5px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--primary-bg-color);
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 20px;
}

header {
    text-align: center;
    color: var(--primary-color);
}

.card {
    background-color: var(--card-bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    color: var(--primary-color);
    width: auto;
    padding: 30px;
    margin-bottom: 30px;
}


.btn {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    color: #fff;
    font-size: var(--btn-font-size);
    padding: var(--btn-padding);
    text-align: center;
    cursor: pointer;
    border: none;
    box-shadow: var(--box-shadow);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #d9534f;
    color: #fff;

}


#password {
    width: 100%;
    padding: 1%;
    margin: 5% 0;
    border-radius: var(--border-radius);
    text-align: center;

}

#promptInput {
    width: 100%;
    border: 2px solid var(--primary-color);
    margin: 10px 0;
    font-size: 1.1rem;
    text-align: center;
    padding: 10px;

}

#password {
    border: 2px dashed #c0c7cf;
    font-size: 1.2rem;
    text-align: center;

}

/* Responsive Design */


@media (max-width: 690px) {
    .btn {
        font-size: 0.9rem;
        padding: 8px 20px;
        margin-top: 3%;
    }

    #promptInput,
    #password {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem;
        padding: 6px 18;
        margin-top: 3%;
    }